

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s" style="background-color: rgb(177, 226, 226);">
  <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
      <h1 class="m-0 text-primary"><i class="far fa-hospital me-3"></i>Klinik</h1>
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0 me-5">
          <a routerLink="/" routerLinkActive="active" class="nav-item nav-link">Home</a>
          <a routerLink="/sobrenos" routerLinkActive="active" class="nav-item nav-link">Sobre Nós</a>
          <a routerLink="/nossos-servicos" routerLinkActive="active" class="nav-item nav-link">Terapias</a> 
          <a routerLink="/contato" routerLinkActive="active" class="nav-item nav-link">Contato</a>
      </div>
  </div>
  
</nav>
<!-- Navbar End -->



<router-outlet></router-outlet>
